* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color:hsl(0, 59%, 35%);
  --tittle-color:hsl(221, 43%, 11%);
  --color-text:hsl(220, 13%, 46%);

  font-size: 62.5%;

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;

}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

img {
  max-width: 100%;
}

section header h4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);

  margin-bottom: 1.6rem;

  text-transform: uppercase;
  text-align: center;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  text-align: center;
}

section header h1 {
  font-size: 3.4rem;
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
}

.button {
  background: white;
  color: var(--primary-color);

  border: none;
  border-radius: 4rem;


  margin-bottom: 2rem;
  margin-inline: auto;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 200ms;
}

button i {
  font-size: 3rem;
  color: black;
}

/*======== NAVBAR ========*/
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav p {
  font-size: 2.4rem;
  color: black;
}

nav span {
  color: var(--primary-color);
}

nav.scroll {
  background: var(--primary-color);
}

nav.scroll span {
  color: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*======== MENU-EXPANDIDO ========*/
nav .menu,
nav .close-menu {
  position: fixed;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform:  translateY(0);
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 10rem;
  margin-bottom: 2rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo span {
  color: white;
}

/*======== HOME ========*/
section#home .wrapper {
  padding-top: 18rem;
}

#home .stats {
  width: 100%;
  padding-block: 3rem;
  margin-inline: auto;
}

#home .stat {
  margin-bottom: 2rem;

  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: 0.25rem solid var(--primary-color);
}

#home .stat h1 {
  font-size: 4.8rem;
  color: var(--primary-color);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 150%;
}

/*======== JOBS ========*/
section#jobs .wrapper {
  padding-top: 9rem;
}

#jobs .cards {
  text-align: left;
}

#jobs .cards-design h2,
#jobs .cards-dev h2 {
  margin-block: 2.4rem;
}

#jobs .card-design,
#jobs .card-dev {
  border: 1px solid var(--primary-color);
  border-radius: 1.6rem;
  
  padding: 2.4rem 2.4rem 3.2rem;
  margin-bottom: 2.4rem;

  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem 0.25rem 0 0;
}

/*======== TESTIMONIALS ========*/
#testimonials {
  background-color: hsla(0, 77%, 43%, 0.03);
  margin-top: 6rem;
}

section#testimonials .wrapper {
  padding-block: 3rem;
}

#testimonials blockquote span {
  color: var(--primary-color);
  font-size: 6rem;
}

#testimonials cite img {
  margin-top: 2rem;
}

/*======== FOOTER ========*/
footer {
  padding-block: 4rem;
}

footer p {
  margin-block: 1rem;
}

footer input {
  border: 1px solid var(--primary-color);
  border-radius: .8rem;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

  width: 34rem;
  height: 4.8rem;

  padding-left: 1.6rem;
}

footer button {
  background: var(--primary-color);
  padding: 1rem 1.8rem;

  border: 1px solid var(--primary-color);
  border-radius: .8rem;

  color: white;

  width: 10rem;
  height: 4.8rem;
}

/*======== BACK TO TOP ========*/
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton i {
  font-size: 4.5rem;
  clip-path: circle();
  background-color: var(--primary-color);
  color: white;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media (min-width:1024px) {
 body {
  overflow: auto;
 } 

 .wrapper {
  width: min(112rem, 100%);
  display: grid;
 }

 section header h4 {
  font-size: 1.8rem;
  line-height: 5.2rem;
 }

 /*======NAVBAR======*/
 nav#navigation .wrapper * {
  margin: 0;
  padding: 0;
  visibility: initial;
  display: initial;
  opacity: initial;
  flex-direction: initial;
  position: initial;
  font-size: initial;
  font-weight: initial;
  transform: initial;
  color: initial;
  background-color: initial;
  filter: initial;
 }

 nav#navigation .close-menu,
 nav#navigation .open-menu {
  display: none;
 }

 nav#navigation .logo p {
  font-size: 2.8rem;
  color: var(--primary-color);
 }

 nav#navigation .logo span {
  font-size: 2.8rem;
 }
 
 nav#navigation.scroll p {
  color: black;
 }

 nav#navigation.scroll p span {
  color: white;
 }

 nav#navigation .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
 }

 nav#navigation .menu ul {
  display: flex;
  gap: 3.2rem;
  margin-left: 5rem;
 }

 nav#navigation .menu li a {
  transition: opacity 0.4s;
  }

 nav#navigation .menu li a.active,
 nav#navigation .menu li a:hover {
  opacity: 1;
  font-weight: 700;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);

    position: relative;
    bottom: -.3rem;
    left: -0.5rem;

    display: block;

    transition: width 0.2s;
  }

  nav#navigation.scroll .menu li a::after {
    background-color: white;
  }

  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a.active,
  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navigation .menu .button:nth-child(2) {
    margin-left: 18rem;
    text-transform: initial;
  }

  nav#navigation .menu .button:nth-child(3) {
    background: var(--primary-color);

    border: none;
    border-radius: 4rem;

    padding: 1.6rem 3.2rem;
    width: fit-content;

    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    text-decoration: none;

    transition: background 200ms;
  }

  nav#navigation.scroll .menu .button:nth-child(3) {
    background-color: white;
    color: var(--primary-color);
  }

 /*======HOME======*/
 section#home .wrapper {
    padding-top: 12rem;
  }

  #home header {
    width: 70%;
    margin-inline: auto;
  }

  #home .stats {
    display: flex;
    justify-content: space-between;

    margin-top: 3rem;
    margin-inline: auto;
    gap: 1.5rem;
  }

  #home .stat {
    box-shadow: initial;
    border: none;

    width: 80%;

    text-align: center;
  }

 /*======JOBS======*/
 section#jobs .wrapper {
  margin-top: -3rem;
  }
}